{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}对{{event.title}}做补充{% endblock %}

{% block body %}
<div class="page-header">
  <h2>SlackParty: {{event.title}}<br />
    <small>
      对已经结束报名的SlackParty做补充
    </small>
  </h2>
</div>

<div class="row-fluid">
  {% include "SlackissSlackwareBundle:include:notice.html.twig" %}
  <div class="span8 offset2 box slackbook-box">
    <style>
      .last-apply-date>select{
      width: 25%;
      }
    </style>
    <form method="POST" action="{{path('member_slackparty_append',{id:event.id})}}">
      <textarea name="append" rows=8 style="width: 100%" placeholder="对SlackParty:{{event.title}} 做出补充">{{event.append}}</textarea>
      <div class="clearfix">
        <div class="pull-left">
          <input type="submit" value="补充"></input>
        </div>
        <div class="pull-right">
          <a href="{{path('slackparty_show',{id:event.id})}}">返回</a>
        </div>
    </form>
  </div>
</div>
{% endblock %}
