{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}{{event.title}} -- SlackParty -- Slackware用户的活动{% endblock %}

{% block body %}
<div class="page-header">
  <h4>Slackware用户的活动
    <small>
      {{event.title }}
    </small>
  </h4>
</div>

<div class="row-fluid">
  {% include "SlackissSlackwareBundle:include:notice.html.twig" %}
  <div class="span4 offset1">
    <img src="{{vich_uploader_asset(event,'image')|imagine_filter('face_image')}}"/>
  </div>
  <div class="span5">
    <table class="table">
      <tr>
        <td><strong>时间</strong></td>
        <td>{{event.eventdate}}</td>
      </tr>
      <tr>
        <td><strong>地点</strong></td>
        <td>{{event.address}}</td>
      </tr>
      <tr>
        <td><strong>费用</strong></td>
        <td>{{event.fee}}</td>
      </tr>
      <tr>
        <td><strong>联系方式</strong></td>
        <td>
          {% if not app.user %}
          登录查看联系方式
          {% else %}
          {% if event.hasPlayer(app.user) %}
          {{event.contact}}
          {% else %}
          请报名活动以查看联系方式
          {% endif %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><strong>发起人</strong></td>
        <td>
          {% if event.member.nickname%}
          <a href="{{path('slacker_show',{id:event.member.id})}}" target="_blank">
          {{event.member.nickname}}
          </a>
          {% else %}
          {{event.member.name}}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan=2>
          {{form(form)}}

          {% if event.isExpired and app.user and app.user.id == event.member.id%}
          <a class="" href="{{path('member_slackparty_append_page',{id:event.id})}}" id="event-append">补充</a>
          <a href="{{path('member_slackparty_eventimage',{id:event.id})}}">上传照片</a>
          {% else %}
          <a href="{{path('member_slackparty_edit',{id:event.id})}}">编辑</a>
          {% endif %}

        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1 event-content box">
    {{event.content|nl2br}}
    <hr />
    当前参加者:
    {% for m in event.players%}
    {% if m.nickname%}
    <a href="{{path('slacker_show',{id:m.id})}}" target="_blank">
      {{m.nickname}}
    </a>
    {% else %}
      {{m.username}}
    {% endif %}
    {% endfor%}
    <hr />
    {% if event.append %}
    <h3>活动补充</h3>
    {{event.append|nl2br}}
    {% endif %}
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1">
  {% for image in images %}
  <a href="{{vich_uploader_asset(image,'attach')}}" target="_blank" class="colorbox">
    <img src="{{vich_uploader_asset(image,'attach')|imagine_filter('event_picture')}}" class="img-rounded" />
  </a>
  {% endfor %}
  <div>
</div>

<div class="row-fluid">
  <div class="span10 offset1 event-content box">
    {% if app.user %}
    {{form(commentForm)}}
    {% else %}
    登录并发表评论
    {% endif %}

    {% for comment in comments %}
    <div class="row-fluid post-comment box">
      <div class="span10 news-item-box content-box">
        {{comment.content|code|striptags('<pre>')|raw|nl2br}}
      </div>
      <div class="span2 text-box min-bold  news-item-box">
        <p>
          {% if comment.member.nickname %}
          <a title="{{comment.member.nickname}}" href="{{path('slacker_show',{id:comment.member.id})}}" target="_blank">
            <img src='{{vich_uploader_asset(comment.member,'image')|imagine_filter('avatar_image')}}' />
            <br />
            {{comment.member.nickname}}
          </a>
          {% else %}
          <img src="{{asset('bundles/slackissslackware/images/avatar.png')|imagine_filter('avatar_image')}}" class="thumbnail"/>
          <br />
          {{comment.member.name}}
          {% endif %}
        </p>
        <p>
          {{time_diff(comment.created)}}
        </p>
      </div>
    </div>
    {% endfor %}
    {{knp_pagination_render(comments)}}

  </div>
</div>


{% endblock %}

{% block top %}
<link href="{{asset('bundles/slackissslackware/vendor/colorbox-master/example1/colorbox.css')}}" rel="stylesheet">
{% endblock %}

{% block bottom %}
<script src="{{asset('bundles/slackissslackware/vendor/colorbox-master/jquery.colorbox-min.js')}}"></script>
<script>
  $('a.colorbox').colorbox();
</script>
{% endblock %}
