<!DOCTYPE html>
  <!--[if IE 8]>
      <html class="no-js lt-ie9" lang="en" >
  <![endif]-->
  <!--[if gt IE 8]>
  <!--><html class="no-js" lang="en" >
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{asset('bundles/slackissslackware/bootstrap/docs/assets/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/slackissslackware/bootstrap/docs/assets/css/bootstrap-responsive.css')}}"
          rel="stylesheet">
    <link href="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/google-code-prettify/prettify.css')}}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/html5shiv.js')}}"></script>
      <script src="{{asset('bundles/slackissslackware/vendor/css3-mediaqueries.js')}}"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{asset('bundles/slackissslackware/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{asset('bundles/slackissslackware/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png')}}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72"
            href="{{asset('bundles/slackissslackware/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed"
                          href="{{asset('bundles/slackissslackware/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png')}}">
    <link rel="shortcut icon"
                href="{{asset('bundles/slackissslackware/bootstrap/docs/assets/ico/favicon.png')}}">

    <link rel="stylesheet" href="{{asset('bundles/slackissslackware/css/style.css')}}">
    {% block layout_header %}{% endblock %}
    {% block header %}{% endblock %}
    <script>
        if(top!==self)
            top.location.href=this.location.href;
    </script>
  </head>
  <body  data-spy="scroll" data-target=".bs-docs-sidebar">
    {% block body %}{% endblock %}
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/jquery.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-transition.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-alert.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-modal.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-dropdown.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-scrollspy.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-tab.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-tooltip.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-popover.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-button.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-collapse.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-carousel.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-typeahead.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/bootstrap-affix.js')}}"></script>

    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/holder/holder.js')}}"></script>
    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/google-code-prettify/prettify.js')}}"></script>

    <script src="{{asset('bundles/slackissslackware/bootstrap/docs/assets/js/application.js')}}"></script>

    <script src="{{asset('bundles/slackissslackware/js/application.js')}}"></script>
    {% block layout_footer %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
