{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}{{changeLog.typeName}} - {{changeLog.created|date("Y-m-d")}}{% endblock %}

{% block body %}
{% include "SlackissSlackwareBundle:include:notice.html.twig"%}
<div class="news-item">

  <div class="box content-box mini-bold news-item-box">
    <a href="{{path('changelog_show',{id:changeLog.id})}}"
       title="{{changeLog.typeName}} - {{changeLog.created|date("Y-m-d")}}">{{changeLog.typeName}} - {{changeLog.created|date("Y-m-d")}}</a>
  </div>

  <div class="row-fluid">
    <div class="span10 news-item-box box content-box">
      {{changeLog.content|striptags('<br><img><p><div><span><ul><li><ol><hr><h1><h2><h3><h4>')|raw|nl2br}}
        </div>
        <div class="span2 text-box min-bold box news-item-box">
          {{changeLog.created|date("Y-m-d")}}
        </div>
    </div>
  </div>
</div>

{% endblock %}
