{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}第{{slackdesk.id}}个SlackDesk分享{% endblock %}

{% block body %}
<div class="row-fluid">
{% include "SlackissSlackwareBundle:include:notice.html.twig" %}
  <div class="span8 offset2">
    <img class="thumbnail" src="{{vich_uploader_asset(slackdesk,'image')|imagine_filter('page_image')}}"/>
  </div>
</div>

{% if slackdesk.description %}
<div class="row-flud">
<div class="span8 offset2 box slackdesk-box">
      {{slackdesk.description|nl2br}}
</div>
</div>
{% endif %}

<div class="row-flud">
<div class="span8 offset2 box slackdesk-box">
{{form(form)}}
</div>
</div>

<div class="row-fluid">
<div class="span7 offset2">
{% for comment in comments %}
<div class="box slackdesk-box">
  <div class="clearfix">
    <div class="clearfix">
    {{comment.content}}
    </div>
    <div class="pull-right">
      {% if comment.member.nickname%}
      <a href="{{path('slacker_show',{id:comment.member.id})}}" target="_blank">
      {{comment.member.nickname}}
      </a>
      {% else %}
      {{comment.member.username}}
      {% endif %}
      {{time_diff(comment.created)}}
    </div>
  </div>
</div>
{% endfor %}
</div>
</div>


{% endblock %}
