{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}{{category.name}} - Slackware中文知识库{% endblock %}

{% block top %}
  <link rel="stylesheet" href="{{asset('bundles/slackissslackware/vendor/jstree/dist/themes/default/style.min.css')}}" />
{% endblock %}
{% block body %}
<div class="page-header">
  <h1>
    {{category.name}} - Slackware中文知识库
  </h1>
</div>

<div class="box">
  {% include "SlackissSlackwareBundle:include:notice.html.twig"%}
  <div class="row-fluid">
    <div class="span4 knowledge-side">
      {% if app.user %}
      <div style="padding:20px">
      <a href="{{path('knowledge_new')}}">
        <button class="btn btn-inverse">新建文章</button>
      </a>
      </div>
      {% endif %}
      <div class="knowledge-tree">
        {% include "SlackissSlackwareBundle:Knowledge:tree.html.twig" %}
      </div>
    </div>
    <div class="span8 knowledge-content" style="padding:20px 0px">
      <ul>
        {% for entity in entities %}
        <li>
          <a href="{{path('knowledge_show',{id:entity.id})}}">
            {{ entity.title }}
          </a>
        </li>
        {% else %}
        <li>这个栏目下暂时没有知识</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "SlackissSlackwareBundle:Knowledge:jstreefooter.html.twig" %}
{% endblock %}
