{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}{{entity.title}} - Slackware中文知识库{% endblock %}

{% block top %}
  <link rel="stylesheet" href="{{asset('bundles/slackissslackware/vendor/jstree/dist/themes/default/style.min.css')}}" />
{% endblock %}
{% block body %}
<div class="page-header">
  <h1>
    {{entity.title}} - Slackware中文知识库
  </h1>
</div>

<div class="box">
  {% include "SlackissSlackwareBundle:include:notice.html.twig"%}
  <div class="row-fluid">
    <div class="span4 knowledge-side">
      {% if app.user %}
      <div style="padding:20px">
      <a href="{{path('knowledge_new')}}">
        <button class="btn btn-inverse">新建文章</button>
      </a>
      </div>
      {% endif %}
      <div class="knowledge-tree">
        {% include "SlackissSlackwareBundle:Knowledge:tree.html.twig" %}
      </div>
    </div>
    <div class="span8 knowledge-content" style="padding:20px 0px">
      {{entity.content|markdown}}
      <div style="margin-top:20px">
        {% if app.user %}
        <a href="{{path('knowledge_edit',{id:entity.id})}}">
          <button class="btn btn-info">编辑</button>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "SlackissSlackwareBundle:Knowledge:jstreefooter.html.twig" %}
{% endblock %}
