{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}宣传画{% endblock %}

{% block body %}
<div class="page-header">
  <h2>Slackware Banner, Logo和宣传画<br />
    <small>向Slackware官方<a href="mailto:msimons@slackware.com">提交</a>你的Logo设置</small></h2>
</div>




<div class="thumbnails propaganda clearfix">
<div class="alert alert-info ">
<div class="row-fluid">
  <div class="span3 offset2">
<a href="http://slackware.com/~msimons/slackware/grfx/" target="_blank">查看官方LOGO页面</a>
  </div>
  <div class="span3 offset2">
<a href="http://slackware.com/~msimons/slackware/grfx/grfxfaq.txt" target="_blank">官方宣传画FAQ</a>
  </div>
</div>
</div>
<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/1.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/2.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/3.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/4.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/5.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/6.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/7.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/8.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/9.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/10.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/11.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/12.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/13.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/14.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/15.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/16.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/17.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/18.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/19.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/20.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/21.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/22.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/23.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/24.jpeg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/25.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/26.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/27.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/28.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/29.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/30.jpeg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/31.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/32.jpeg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/33.jpeg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/34.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/35.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/36.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/37.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/38.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/39.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/40.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/41.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/42.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/43.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/44.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/45.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/46.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/47.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/48.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/49.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/50.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/51.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/52.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/53.jpg')}}"/>
</div>


<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/54.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/55.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/56.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/57.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/58.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/59.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/60.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/61.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/62.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/63.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/64.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/65.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/66.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/67.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/68.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/69.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/70.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/71.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/72.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/73.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/74.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/75.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/76.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/77.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/78.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/79.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/80.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/81.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/82.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/83.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/84.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/85.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/86.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/87.png')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/88.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/89.gif')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/90.jpg')}}"/>
</div>

<div class="pull-left" style="margin:10px">
<img class="thumbnail"
     src="{{asset('bundles/slackissslackware/images/propaganda/91.jpg')}}"/>
</div>

</div>

{% endblock %}
