{% extends "SlackissSlackwareBundle:layout:layout.html.twig" %}

{% block title %}Slackware中文讨论区{% endblock %}

{% block body %}
<div class="page-header">
  <h2>Slackware中文讨论区
  </h2>
</div>

<div class="box">
<table class="table">
{% for post in posts %}
<td>
  <a href="{{path('post_show',{id:post.id})}}">
  {{post.title}}
  </a>
</td>
{% if post.member.nickname %}
<td>
  <a href="{{path('slacker_show',{id:post.member.id})}}" target="_blank">
    {{post.member.nickname}}
  </a>
</td>
{% else %}
<td>{{post.member.username}}</td>
{% endif %}
<td>{{time_diff(post.created)}}</td>
<td>{{post.commentCount}}回复</td>
</tr>
{% endfor %}
</table>

{{knp_pagination_render(posts)}}
</div>


{% endblock %}
